.page-events {
    @badge-idle: @brand-primary;
    @badge-idle: #fff;
    @text-idle: lighten(#000, 65%);
    @text-idle: #fff;

	.event-list {


        .event {

            .col {
                padding: 15px 8px;
            }

            .event-badge {
                width:20%;

                .badge {
                    background-color:transparent;
                    .square(50px);
                    border-radius: 50%;
                    text-align: center;
                    color: @badge-idle;
                    border: 2px solid @badge-idle;

                    .icon {
                        line-height: 42px;
                        font-size: 28px;
                    }
                }
            }

            .event-info {
                width:80%;
                border-bottom:1px solid #fff;
                p {
                    margin-bottom: 0;
                }

                .title {
                    font-size: 18px;
                    color: @text-idle;
                    .opacity(30);
                }

                .sub-title {
                    font-size: 13px;
                    color: @text-idle;
                }

                .move-info {
                    margin-top: 15px;
                    position: relative;

                    .video-thumbnail {
                        position:relative;
                        display: table;
                        .square(100px);

                        img {
                            width:225px;
                            height: 100px;
                        }

                    }

                    .share {
                        button {
                            .border-radius(50%);
                            border:2px solid #fff;
                        }
                    }

                }
            }

            .user-profile {
                margin-left:4px;
                > img {
                    border-radius: 50%;
                    border: 2px solid #fff;
                    .square(25px);
                }
            }
        }

        .event.active {
            .event-info {
                .title {
                }
            }

            .badge {
                color:#fff;
                background-color: @brand-success;
                border-color: @brand-success;

            }
        }

        .event.new {
            .animation(1.5s tada ease-in);
        }


        .row:last-child .event-info {
            border-bottom: 0;
        }
	}
//#end
}