.page-events {
    @badge-idle: @brand-primary;
    @text-idle: lighten(#000, 65%);
	.event-list {

        .event {

            .col {
                padding: 15px 8px;
            }

            .event-badge {
                width:20%;

                .badge {
                    .square(50px);
                    background: #fff;
                    border-radius: 50%;
                    text-align: center;
                    color: @badge-idle;
                    border: 2px solid @badge-idle;

                    .icon {
                        line-height: 42px;
                        font-size: 28px;
                    }
                }
            }

            .event-info {
                width:80%;
                border-bottom:1px solid @gray-lighter;
                p {
                    margin-bottom: 0;
                }

                .title {
                    font-size: 18px;
                    color: @text-idle;
                    .opacity(30);
                }

                .sub-title {
                    font-size: 13px;
                    color: @text-idle;
                }

                .move-info {
                    margin-top: 15px;
                    position: relative;

                    .video-thumbnail {
                        position:relative;
                        display: table;
                        .square(100px);

                        img {
                            width:225px;
                            height: 100px;
                        }

                    }

//                    .video-thumbnail:hover {
//                        cursor: pointer;
//                        transition:all 0.3s ease;
//                        border-radius: 50%;
//                        opacity:0.80;
//
//                        &:before {
//                            font-family: 'FontAwesome';
//                            content: "\f01d";
//                            position:absolute;
//                            left:30px;
//                            top:12px;
//                            font-size:50px;
//                            z-index:100;
//                            color:#fff;
//                            -webkit-font-smoothing: antialiased;
//                            -moz-osx-font-smoothing: grayscale;
//                        }
//                    }

                }
            }

            .user-profile {
                margin-left:4px;
                > img {
                    border-radius: 50%;
                    .square(25px);
                }
            }
        }

        .event.active {
            .event-info {
                .title {
                    color:#000;
                }
            }

            .badge {
                color:#fff;
                background-color: @brand-success;
                border-color: @brand-success;

            }
        }

        .event.new {
            .animation(1.5s tada ease-in);
        }
	}
//#end
}