.page-start {
    position: absolute;
    top: 60px;
    bottom:0;
    width: 100%;

	&:before {
//        position: absolute;
//        content: "";
//        left: 50%;
//        .translate(-50%; 0);
//        height: 100%;
//        width: 20px;
//        background: #fff;
//        z-index: -1;
	}

    .start-button {
        position: absolute;
        top: 50%;
        left: 50%;
        .translate(-50%, -50%);
        .border-radius(50%);
        .square(200px);
        background: transparent;
        border: 20px solid #fff;
        text-align:center;

        span {
            &:before {
                content: "Start";
            }
            position:absolute;
            top: 50%;
            left: 50%;
            .translate(-50%, -50%);
            color: #fff;
            font-size:26px;
            z-index:10;
        }

        .inner {
            transition: all 0.3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            .translate(-50%, -50%);
            .border-radius(50%);
            background-color: #e74c3c;
            .square(160px);
            text-align: center;
        }
    }

    .start-button.active {

        span {
            &:before {
                content: "Stop";
            }
        }

        .inner {
            transition: all 0.3s ease;
            .border-radius(10%);
            .square(110px);
            .animation(redPulse);
            .animation-duration(2s);
            .animation-iteration-count(infinite);
        }
    }
//#end
}

@-webkit-keyframes redPulse {
    from { background-color: #e74c3c; }
    50% { background-color: #e74c3c; -webkit-box-shadow: 0 0 25px #e74c3c; }
    to { background-color: #e74c3c;  }
}