@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?j3r2pb');
	src:url('fonts/icomoon.eot?#iefixj3r2pb') format('embedded-opentype'),
		url('fonts/icomoon.svg?j3r2pb#icomoon') format('svg'),
		url('fonts/icomoon.woff?j3r2pb') format('woff'),
		url('fonts/icomoon.ttf?j3r2pb') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-snowboarder:before {
	content: "\e603";
}

.icon-flip:before {
	content: "\e600";
}

.icon-spin:before {
	content: "\e602";
}

.icon-straight-air:before {
	content: "\e601";
}

