@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-kdzsya');
	src:url('fonts/icomoon.eot?#iefix-kdzsya') format('embedded-opentype'),
		url('fonts/icomoon.svg?-kdzsya#icomoon') format('svg'),
		url('fonts/icomoon.woff?-kdzsya') format('woff'),
		url('fonts/icomoon.ttf?-kdzsya') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-flip:before {
	content: "\e600";
}

.icon-spin:before {
	content: "\e602";
}

.icon-straight-air:before {
	content: "\e601";
}

